html,
body {
  margin: 0;
  padding: 0;
}

.title {
  color: rgb(48, 90, 127);
  margin-left: 17rem;
}

.hautDePage {
  margin-top: 7rem;
  box-shadow: ;
  font-style: italic;
  color: #333;
  text-shadow: 2px 2px #d2e1ef;
}

.container {
  text-align: center;
}
.container h2 {
  margin-top: 3rem;
}

.firstThing img {
  margin-top: 3rem;
  border-radius: 100%;
  width: 250px;
  height: 220px;
}
.text1 {
  color: black;
  margin-top: 1rem;
}
h2 {
  text-decoration: underline;
}
h3 {
  font-style: italic;
  font-size: 25px;
  color: rgb(117, 117, 117);
}
h4 {
  font-size: 20px;
}
.firstThing a {
  text-decoration: none;
  color: #06283d;
  border-radius: 15px;
  margin: 0.8rem;
  padding: 0 0.5rem 0 0.5rem;
}
a:hover {
  color: #47b5ff;
}
p {
  margin-top: 1.8rem;
}

.fa-solid {
  color: rgb(193, 32, 32);
}

.firstThing button:hover {
  background-color: rgb(75, 74, 74);
}

/* tailles ecrans */

@media (min-width: 575px) {
  .title {
    color: aliceblue;
    margin-left: 0.5rem;
  }
  .hautDePage {
    margin: 10rem 0 4rem 0;
  }
  .firstThing {
    font-size: large;
  }
  .firstThing img {
    width: 150px;
    height: 130px;
  }
  .firstThing button {
    margin-left: 27rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 992px) {
  .title {
    color: aliceblue;
    margin-left: 7rem;
  }

  .hautDePage {
    margin-bottom: 5rem;
    margin-top: 8rem;
  }
  .firstThing button {
    margin-bottom: 5rem;
    margin-left: 19.7rem;
  }
  .firstThing img {
    width: 220px;
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .title {
    margin-left: 10rem;
  }
}

@media (min-width: 1400px) {
  .title {
    margin-left: 17rem;
  }
  .firstThing button {
    margin-bottom: 8rem;
    margin-left: 26.8rem;
  }
}
