body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar {
  background-color: #94ded5;
}
.navbar-brand {
  font-size: 1.5rem;
}
.navbar-nav {
  margin-left: 2rem;
  font-size: 1.4rem;
}
.d-flex img {
  height: 24px;
  width: 24px;
}

.row {
  padding: 7rem;
  margin-top: 6rem;
  text-align: center;
  background-color: #fff8f3;
}
.row h1 {
  font-size: 2rem;
}
.row button {
  margin-top: 2rem;
}
