html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Oswald", sans-serif;
}
/* navigation */

.navbar {
  background-color: #142850;
}
.navbar-brand {
  font-size: 1.5rem;
}
.navbar-nav {
  margin-left: 2rem;
  font-size: 1.4rem;
}
.d-flex img {
  height: 24px;
  width: 24px;
}

/* Bienvenue */

.d-flex button {
  color: #142850;
  background-color: rgb(255, 255, 255);
  border: solid #7a8499;
}
.d-flex button:hover {
  background-color: #00a8cc;
  border: solid #0c7b93;
  color: #fff;
}
.welcome {
  padding: 7rem;
  color: #fff;
  text-align: center;
  background-image: url(/img/bird.jpg);
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.welcome h1 {
  font-size: 2.6rem;
  padding-top: 4rem;
  text-align: center;
  margin-bottom: 1.2rem;
}
.welcome button {
  margin-top: 2rem;
  box-shadow: 7px 5px 5px rgb(249, 249, 249);
}
.welcome button:hover {
  box-shadow: 7px 5px 5px rgba(255, 255, 255, 0.326);
  background-color: #20448a;
}

/* Histoire */

.container-histoire {
  padding-top: 1rem;
  text-align: center;
}

.container-histoire h2 {
  font-style: italic;
  padding: 4rem 0 1.5rem 0;
}

/* actualité section */

.container-actu {
  text-align: center;
  padding: 4rem 0 1.5rem 0;
  font-size: 70px;
}

.btn:hover {
  background-color: #7a849947;
  color: #fff;
}

.third {
  margin-bottom: 25px;
}
.third-1 {
  color: #e6edef;
  border: solid;
  border-radius: 15px;
  background-color: #040913;
  padding: 3rem 0.8rem 4rem 0.8rem;
}
.third img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.third img:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}

/* pied de page */

.footer {
  border-radius: 15px;
}
/* mediaqueries */

@media (max-width: 1200px) {
  .third img {
    width: 60%;
    height: auto;
  }
}

@media (min-width: 990px) {
  .welcome {
    background-position-y: 70%;
    background-position-x: 50%;
  }
}

@media (max-width: 374px) {
  .welcome {
    padding: 5rem 0 0 0;
  }
  .welcome button {
    margin-bottom: 5rem;
  }
}
